# Dataframes using Pandas

1. Create DF from file
2. Handling Missing, Duplicate, and Sorted Data 
3. Understanding data
4. Column Transformation
5. Filter & select data 
6. Merge, Groupby, pivoting
6. save Dataframe to File

<h3 style="font-size: 14px; margin-bottom: 6px;">1. Creating DF</h3>

<div style="font-size: 12px; width: 100%; overflow-x: auto;">
  <table border="1" cellpadding="4" cellspacing="0" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>Category</th>
        <th>Examples</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Flat files</b></td>
        <td><code>read_csv</code>, <code>read_table</code>, <code>read_fwf</code></td>
      </tr>
      <tr>
        <td><b>Excel / Clipboard</b></td>
        <td><code>read_excel</code>, <code>read_clipboard</code></td>
      </tr>
      <tr>
        <td><b>Columnar / Binary formats</b></td>
        <td><code>read_parquet</code>, <code>read_feather</code>, <code>read_orc</code>, <code>read_hdf</code>, <code>read_pickle</code></td>
      </tr>
      <tr>
        <td><b>JSON / Web data</b></td>
        <td><code>read_json</code>, <code>read_html</code>, <code>read_xml</code></td>
      </tr>
      <tr>
        <td><b>SQL / Databases</b></td>
        <td><code>read_sql</code>, <code>read_sql_query</code>, <code>read_sql_table</code></td>
      </tr>
      <tr>
        <td><b>Python data structures</b></td>
        <td><code>pd.DataFrame(dict)</code>, <code>pd.DataFrame(list)</code>, <code>pd.DataFrame(np.array)</code></td>
      </tr>
    </tbody>
  </table>
</div>

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
import json

# 1. Flat Files
df = pd.read_csv("file.csv")                             # CSV
df_table = pd.read_table("file.txt")                         # use when data is separated by whitespace (like TSV)
df_fwf = pd.read_fwf("fixed width file.txt")                 #  use when data is aligned by column width, with no separators.

# 2. Excel Files
df_excel = pd.read_excel("file.xlsx", sheet_name="Sheet1")   # Excel files, specify sheet name if needed
df_excel_all = pd.read_excel("file.xlsx", sheet_name=None)   # Load all sheets into a dictionary of DataFrames   
df_clipboard = pd.read_clipboard()                           # Copy data from clipboard, useful for quick pasting

#3. Columnar formats
df_parquet = pd.read_parquet("file.parquet")                 # Parquet files, efficient for large datasets
df_orc = pd.read_orc("file.orc")                             # ORC files,
df_feather = pd.read_feather("file.feather")                 # Feather files, fast binary format
df_pickle = pd.read_pickle("file.pkl")                       # Pickle files, Python-specific serialization
df_hdf = pd.read_hdf("file.h5")                              # HDF5 files, hierarchical data format

# 4. JSON/web data
df_json = pd.read_json("file.json")                          # JSON files
df_html = pd.read_html("file.html")                          # HTML tables, returns a list of DataFrames
df_xml = pd.read_xml("file.xml")                             # XML files, returns a DataFrame

# 5. SQL databases
conn = sqlite3.connect("database.db")                                                        # SQLite database connection
df_sql_query = pd.read_sql_query("SELECT * FROM table_name", conn)                           # To execute custom SQL queries.
df_sql_table = pd.read_sql_table("table_name", conn)                                         # To load entire table
df_sql = pd.read_sql("SELECT * FROM table_name", conn)                                       # General SQL query execution
df_sql_gbq = pd.read_gbq("SELECT * FROM dataset.table_name", project_id="your_project_id")   # Google BigQuery

# 6. Python data structures
data_dict = {"col1": [1, 2], "col2": [3, 4]}
df_dict = pd.DataFrame(data_dict)                            # From a dictionary
data_list = [[1, 2], [3, 4]]
df_list = pd.DataFrame(data_list, columns=["col1", "col2"])  # From a list of lists

2. Handling Missing, Duplicate, and Sorted Data

In [ ]:
# Sorting DataFrame
df.sort_values(['col1', 'col2'], ascending=[1, 1])         # 0=False, 1=True

# Handling Missing Data
df.isnull()                                                # returns a DataFrame of boolean values indicating missing data
df.isnull().sum()                                          # returns a Series with the count of missing values per column
df.dropna()                                                # drops rows with any missing values
df.fillna('default_value')                                 # fills missing values with a specified value

# Handling Duplicate Data
df.duplicated()                                            # returns a Series of boolean values indicating duplicate rows
df.duplicated().sum()                                      # returns the count of duplicate rows
df.drop_duplicates()                                       # drops duplicate rows
df.drop_duplicates(subset=['col1', 'col2'], keep='first')  # drop duplicates based on specific columns, keeping the first occurrence
df.drop_duplicates(subset=['col1', 'col2'], keep=False)    # drop all duplicates, keeping none

# Unique & Frequency
df['column1'].unique()                                     # returns unique values in a Series
df['column1'].nunique()                                    # returns the count of unique values in a Series
df['column1'].value_counts()                               # returns a Series with counts of unique values in a Series
df['column1'].sort_values()                                # returns a Series sorted by values

3. Understanding Data

In [ ]:
df.shape                      # returns a tuple (rows, columns)
df.columns                    # returns column names
df.dtypes                     # returns data types of each column

df.head('n')                    # returns first n rows
df.tail('n')                    # returns last n rows
df.sample('n')                  # returns random n rows
df.describe()                 # summary statistics of numeric columns
df.info()                     # concise summary: types, non-null counts
df.memory_usage()             # memory usage of each column (in bytes)
df.memory_usage(deep=True)    # includes deep memory for object types

4. Column transformation

In [ ]:
# Column Transformation

df.reset_index(drop=True, inplace=True)                     # Reset index and drop the old index
df.set_index('col1', inplace=True)                          # Set 'col1' as the new index
df.rename(columns={'old_name': 'new_name'}, inplace=True)   # Rename column
df = df.astype({'col1': 'int', 'col2': 'float'})            # Convert column data types

# ‚ûï Create or update columns
df['new_col'] = df['col1'] + df['col2']                     # Create new column by adding two columns
df['new_col'] = df['col1'].apply(lambda x: x * 2)           # Apply function to column

# ‚ùå Drop columns
df.drop(columns=['col1', 'col2'], inplace=True)             # Drop multiple columns

# üîé Filter/select specific columns
df_filtered = df.filter(items=['col1', 'col2'])             # Select specific columns



df['new_col'] = df['col1'].str.upper()                      # string operation on a column
df['new_col'] = df['col1'].str.split(',')                   # split string into list
df['new_col'] = df['col1'].str.replace('old', 'new')        # replace substring in a string column
df['new_col'] = df['col1'].str.contains('substring')         # check if substring exists in a string column
df['new_col'] = df['col1'].str.len()                         # get length of
df['new_col'] = df['col1'].str.strip()                       # remove leading/trailing whitespace
df['new_col'] = df['col1'].str.split().str[0]                  # split string and get first element
df['new_col'] = df['col1'].str.cat(df['col2'], sep=' ')     # concatenate two string columns with a separator
df['new_col'] = df['col1'].str.extract(r'(\d+)')                   # extract digits from a string column using regex
df['new_col'] = df['col1'].str.contains('pattern', case=False)  # check if pattern exists in a string column, case-insensitive

5. Filter & select data

In [ ]:
# ‚úÖ Label-based indexing using df.loc[] (stop is inclusive)
# ‚úÖ Position-based indexing using df.iloc[] (stop is exclusive)
# Note: loc uses row/column labels; iloc uses integer positions

# ----------------------------------
# üîπ Selection using df.loc[]
# ----------------------------------

# üëâ Row selection
df.loc['row_start':'row_end']                         # Select a range of rows
df.loc[['row1', 'row2']]                              # Select specific rows

# üëâ Column selection (for all rows)
df.loc[:, 'col_start':'col_end']                      # Select a range of columns
df.loc[:, ['col1', 'col2']]                           # Select specific columns

# üëâ Row + Column selection
df.loc['row_start':'row_end', 'col_start':'col_end']  # Select range of rows and columns
df.loc['row_start':'row_end', ['col1', 'col2']]       # Select rows with specific columns
df.loc[['row1', 'row2'], ['col1', 'col2']]            # Specific rows & columns


# ----------------------------------
# üîπ Selection using df.iloc[]
# ----------------------------------

# üëâ Row selection
df.iloc[0:5]                                          # First 5 rows (0 to 4)

# üëâ Column selection (for all rows)
df.iloc[:, 1:4]                                       # Columns 1 to 3

# üëâ Row + Column selection
df.iloc[0:5, 1:3]                                     # Rows 0 to 4, Columns 1 to 2
df.iloc[[0, 2, 4], [1, 3]]                            # Specific rows & columns


# ----------------------------------
# üîπ Filtering with Conditions (using df.loc)
# ----------------------------------

filtered_1 = df.loc[df["Age"] > 30]                                  # Age > 30
filtered_2 = df.loc[df["Name"].str.contains("sh")]                  # Name contains 'sh'
filtered_3 = df.loc[df["Name"].str.startswith("sh")]                # Name starts with 'sh'
filtered_4 = df.loc[df["Name"].str.endswith("ya")]                  # Name ends with 'ya'
filtered_5 = df.loc[(df["Age"] > 30) & (df["Name"].str.startswith("A"))]  # Combined filter


# ----------------------------------
# üîπ Conditional Changes (using df.loc)
# ----------------------------------

df.loc[df["Age"] > 30, "Status"] = "Senior"                         # Assign new column based on Age
df.loc[df["Name"].str.startswith("A"), "Group"] = "Alpha"          # Assign based on Name
df.loc[(df["Age"] < 18) & (df["Gender"] == "F"), "Type"] = "Minor Girl"  # Multi-condition update

6. Merge, groupby, pivot data

In [ ]:
# üîó Concatenate DataFrames
df_concat = pd.concat(['df1', 'df2'], axis=0, ignore_index=True)    # Vertically concatenate rows (stack)
df_concat = pd.concat(['df1', 'df2'], axis=1)                        # Horizontally concatenate columns (side by side)

# üîÄ Merge DataFrames
df_merge = pd.merge('df1', 'df2', on='key_column', how='inner')     # Merge on key column with inner join
df_merge = pd.merge('df1', 'df2', how='left', on='key_column')      # Left join
df_merge = pd.merge('df1', 'df2', how='outer', on='key_column')     # Full outer join
df_merge = pd.merge('df1', 'df2', left_on='key1', right_on='key2')  # Merge on different column names

# üî¢ Group By Operations
df_grouped = df.groupby('group_column').sum()                                              # Group by a column and compute sum
df_grouped = df.groupby('group_column').mean()                                             # Group and compute mean
df_grouped = df.groupby('group_column').agg({'col1': 'sum', 'col2': 'mean'})               # Group and apply multiple aggregations

# üîÅ Pivot Table
df_pivot = df.pivot(                                             # Reshape without aggregation
    index='index_column',                                        # Values become row indices
    columns='column_to_pivot',                                   # Values become column headers
    values='value_column'                                        # Fill values from this column
)

# üîÅ Pivot Table with Aggregation
df_pivot_table = pd.pivot_table(                                 # Reshape with aggregation
    data=df,
    index='index_column',                                        # Rows
    columns='column_to_pivot',                                   # Columns
    values='value_column',                                       # Cell values
    aggfunc='sum',                                               # Aggregation function: sum, mean, count, etc.
    fill_value=0                                                 # Replace NaNs with 0
)

<h3 style="font-size: 14px; margin-bottom: 6px;">7. save Dataframe to File</h3>

<div style="font-size: 12px; width: 100%; overflow-x: auto;">
  <table border="1" cellpadding="4" cellspacing="0" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>Category</th>
        <th>Methods (File Extensions)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><b>Clipboard / Files</b></td>
        <td>
          <code>to_clipboard</code> (no file), 
          <code>to_csv</code> <i>(.csv)</i>, 
          <code>to_excel</code> <i>(.xlsx, .xls)</i>, 
          <code>to_string</code> <i>(.txt, console)</i>
        </td>
      </tr>
      <tr>
        <td><b>Columnar / Binary formats</b></td>
        <td>
          <code>to_parquet</code> <i>(.parquet)</i>, 
          <code>to_feather</code> <i>(.feather)</i>, 
          <code>to_orc</code> <i>(.orc)</i>, 
          <code>to_hdf</code> <i>(.h5, .hdf5)</i>, 
          <code>to_pickle</code> <i>(.pkl)</i>
        </td>
      </tr>
      <tr>
        <td><b>Markup / Web formats</b></td>
        <td>
          <code>to_html</code> <i>(.html)</i>, 
          <code>to_json</code> <i>(.json)</i>, 
          <code>to_xml</code> <i>(.xml)</i>, 
          <code>to_latex</code> <i>(.tex)</i>, 
          <code>to_markdown</code> <i>(.md)</i>
        </td>
      </tr>
      <tr>
        <td><b>Databases / Cloud</b></td>
        <td>
          <code>to_sql</code> <i>(database)</i>, 
          <code>to_gbq</code> <i>(Google BigQuery)</i>, 
          <code>to_stata</code> <i>(.dta)</i>
        </td>
      </tr>
      <tr>
        <td><b>Conversion to other formats</b></td>
        <td>
          <code>to_dict</code> (Python dict), 
          <code>to_numpy</code> (NumPy array), 
          <code>to_records</code> (structured NumPy), 
          <code>to_xarray</code> (Xarray object)
        </td>
      </tr>
      <tr>
        <td><b>Date/Time conversion</b></td>
        <td>
          <code>to_period</code>, 
          <code>to_timestamp</code>, 
          <code>tz_convert</code>
        </td>
      </tr>
    </tbody>
  </table>
</div>